<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directives</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function ($scope) {
                    $scope.todos = [
                        { action: "Get groceries", complete: false },
                        { action: "Call plumber", complete: false },
                        { action: "Buy running shoes", complete: true },
                        { action: "Buy flowers", complete: false },
                        { action: "Call family", complete: false }];

                    $scope.buttonNames = ["Red", "Green", "Blue"];

                    $scope.data = {
                      rowColor: "Blue",
                      columnColor: "Green"
                    };

                    // if the event obj (e) type passes here is mouseover then the columColor will change to Green else Blue
                    // console log will be printed too, to see what type the obj is
                    $scope.handleEvent = function (e) {
                      console.log("Event type: " + e.type);
                        $scope.data.columnColor = (e.type == "mouseover") ? "Green" : "Blue";
                    };

                });
    </script>
    <style>
        .Red { Background-color: lightcoral; }
        .Green { Background-color: lightgreen; }
        .Blue { Background-color: lightblue; }
    </style>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>

    <!--Buttons are generated here.  When buttons are clicked, the data.rowColor value will change too-->
    <div class="well">
        <span ng-repeat="button in buttonNames">
            <button class="btn btn-info" ng-click="data.rowColor = button">
                {{button}}
            </button>
        </span>
    </div>

    <table class="table">
        <thead>
            <tr><th>#</th><th>Action</th><th>Done</th></tr>
        </thead>
        <!--
        rowColor changes when button is clicked above which will change the ng-class value here and also changes the style
        ng-mouseenter and ng-mouseleave specifies that the handleEvent behavior should be invoked. ($event) is used to access the Event object
        -->
        <tr ng-repeat="item in todos" ng-class="data.rowColor" ng-mouseenter="handleEvent($event)" ng-mouseleave="handleEvent($event)">
            <td>{{$index + 1}}</td>
            <td>{{item.action}}</td>
            <td ng-class="data.columnColor">{{item.complete}}</td>
        </tr>
    </table>
</div>
</body>
</html>