<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Forms</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="bootstrap-theme.css" rel="stylesheet"/>
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function ($scope) {
                    $scope.addUser = function (userDetails) {
                        $scope.message = userDetails.name
                        + " (" + userDetails.email + ") (" + userDetails.agreed + ")";
                    };
                    $scope.message = "Ready";
                });
    </script>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <!--This form shows if all three inputs and an OK button that is disabled which cannot be clicked until all inputs are valid-->
    <!--In order to use AngularJS validation make sure to have form element with name attribute and novalidate attribute-->
    <!--The name attribute will define some useful variables that report on the validity of the form data and accesses these values via the name property-->
    <!--The novalidate attribute will disable the browsers validation support (which is really inconsistent) and enable the AngularJS validation features properly-->
    <form name="myForm" novalidate ng-submit="addUser(newUser)">
        <div class="well">
            <div class="form-group">
                <label>Name:</label>
                <input name="userName" type="text" class="form-control"
                       required ng-model="newUser.name">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input name="userEmail" type="email" class="form-control"
                       required ng-model="newUser.email">
            </div>
            <div class="checkbox">
                <label>
                    <input name="agreed" type="checkbox"
                           ng-model="newUser.agreed" required>
                    I agree to the terms and conditions
                </label>
            </div>
            <!--$invalid returns true if the form is not valid which actives the ng-disable directive NOT to let others press OK when form is not valid-->
            <!--This is also where the name attribute for the form comes in handy-->
            <!--The value of the form name attribute act like an object and calls the validation variables like an object calling its properties-->
            <button type="submit" class="btn btn-primary btn-block"
                    ng-disabled="myForm.$invalid">
                OK
            </button>
        </div>
        <div class="well">
            Message: {{message}}
            <div>
                <!--The $valid variable represent the overall validity of the form element.-->
                <!--If all inputs are validated then the following will return true-->
                <!--In this case, name, proper email and the checkbox checked all three are required in order for $valid to return true-->
                Valid: {{myForm.$valid}}
            </div>
        </div>
    </form>
</div>
</body>
</html>